<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Moshe Safdie</h1>
    <p>
        Moshe Safdie CC FAIA FRAIC OAA (Hebrew: משה ספדיה; born July 14, 1938) is an architect, urban planner, educator, theorist, and author, with Israeli, Canadian, and American citizenship. He is known for incorporating principles of socially responsible design in his 50 year career. His projects include cultural, educational, and civic institutions; neighborhoods and public parks; housing; mixed-use urban centers; airports; and master plans for existing communities and entirely new cities in North and South America, the Middle East, and Asia. He is most identified with designing Marina Bay Sands and Jewel Changi Airport, as well as his debut project, Habitat 67, originally conceived as his thesis at McGill University. 
        <br>
        Source: <a href="https://en.wikipedia.org/wiki/Moshe_Safdie">Wikipedia</a>
    </p>
    <a href="/">Back to Homepage</a>
</body>
</html>