<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Works</h1>
    <ul>
        <li>1967: Habitat 67 at Expo 67 World's Fair, Montreal, Quebec, Canada</li>
        <li>1987: Musée de la Civilisation, Quebec City, Quebec, Canada</li>
        <li>1988: National Gallery of Canada, Ottawa, Ontario, Canada</li>
        <li>1989: New City of Modi'in, Israel</li>
        <li>1991: Montreal Museum of Fine Arts, Montreal, Quebec, Canada</li>
        <li>1994: John G. Diefenbaker Building, Ottawa, Ontario, Canada</li>
        <li>1995: Yad Vashem Children's and Deportees Memorials, Jerusalem</li>
        <li>1995: Vancouver Library Square, Vancouver, British Columbia, Canada</li>
        <li>2012: Sky Habitat, Singapore</li>
        <li>2017: Eling Residences, Chongqing, China</li>
    </ul>
    <p>Source: <a href="https://en.wikipedia.org/wiki/Moshe_Safdie">Wikipedia</a></p>
    <a href="/">Back to Homepage</a>
</body>
</html>